* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
.gjs-heading {
	margin:0;
}
#iu4wu {
	position:absolute;
}
#iw612 {
	position:absolute;
}
#i8imt {
	position:absolute;
}
#cdn-lark {
	display:none;
}
#navigation-auth-menu-desktop-wrapper {
	top:80px;
	left:-40px;
}
#ianeam {
	left:0px;
}
#i3eutg {
	height:658px;
}
#izvld4 {
	top:-81px;
}
#ikdbbz {
	height:658px;
}
#ijwrij {
	height:658px;
}
#ickq9p {
	--heroHeight:613px;
}
#i21rpi {
	--titleScale:1.4421768707482994;
}
#i931nf {
	--titleTranslate:7.210884353741449px;
}
#iddt0l {
	--titleTranslate:137.00680272108843px;
}
#iy812k {
	--titleTranslate:169.45578231292518px;
}
#ia1z5g {
	--titleTranslate:100.95238095238096px;
}
#iladzk {
	--inner-height:738px;
}
#i5ahcg {
	height:0vh;
}
#ilfyy2 {
	--introHeight:74.79674796747967vh;
	transform:none;
}
#i5pc0j {
	opacity:1;
	transform:none;
}
#i9mskq {
	opacity:1;
	transform:none;
}
#i5m76f {
	opacity:1;
	transform:none;
}
#i3ncgi {
	width:51%;
	height:74.7968%;
}
#i8afoq {
	opacity:0.5;
	transform:scale(1.2) translateZ(0px);
}
#iegoci {
	opacity:1;
}
#ibydza {
	opacity:1;
	transform:none;
}
#iet4jh {
	opacity:1;
	transform:none;
}
#i5zb2o {
	opacity:0;
	transform:translateY(-50px) translateZ(0px);
}
#i9nief {
	opacity:0;
	transform:translateY(-50px) translateZ(0px);
}
#icdcvjh {
	opacity:0;
}
#iha75lq {
	opacity:1;
	transform:none;
}
#irximqn {
	opacity:1;
	transform:none;
}
#inu5muw {
	opacity:1;
	transform:none;
}
#i81hqhj {
	opacity:1;
	transform:none;
}
#iv5ef6x {
	opacity:1;
	transform:none;
}
#id9ncdg {
	opacity:1;
	transform:none;
}
#ie1wbu1 {
	--viewHeight:738px;
}
#i5o50zw {
	--inner-height:738px;
}
#i1youu5 {
	left:-63%;
	right:-63%;
	opacity:0;
	user-select:none;
	touch-action:pan-y;
	transform:translateX(0px) scale(0.8) translateZ(0px);
}
#starting-point-florence {
	background-color:#67666B;
}
#i0j8cqf {
	left:0%;
	right:0%;
	opacity:1;
	user-select:none;
	touch-action:pan-y;
	transform:none;
}
#starting-point-saltless {
	background-color:#D9D8D3;
}
#i72lt1u {
	left:63%;
	right:63%;
	opacity:1;
	user-select:none;
	touch-action:pan-y;
	transform:translateX(0px) scale(0.8) translateZ(0px);
}
#starting-point-emmeline {
	background-color:#964A26;
}
#inhhrss {
	width:1px;
	height:1px;
	opacity:0;
}
#i4p3cma {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:none;
}
#i3p3hsd {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:scale(1.25) translateZ(0px);
}
#i1nyu5f {
	width:4px;
	height:4px;
	margin:0px 1px;
	opacity:1;
	transform:scale(1.5) translateZ(0px);
}
#i3m4jpz {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:scale(1.25) translateZ(0px);
}
#ir0tfeq {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:none;
}
#i1tyodo {
	width:1px;
	height:1px;
	opacity:0;
}
#i4fqbrz {
	transform:translateY(0%) translateZ(0px);
}
#i88p8ip {
	transform:translateY(0%) translateZ(0px);
}
#i7mtyrr {
	transform:translateY(0%) translateZ(0px);
}
#iq8depx {
	transform:translateY(0%) translateZ(0px);
}
#\:R5j9\:-body {
	height:0px;
	overflow:hidden;
}
#\:R9j9\:-body {
	height:0px;
	overflow:hidden;
}
#\:Rdj9\:-body {
	height:0px;
	overflow:hidden;
}
#\:Rhj9\:-body {
	height:0px;
	overflow:hidden;
}
#\:Rlj9\:-body {
	height:0px;
	overflow:hidden;
}
#ibt1eyi {
	display:none;
}
#iw8b5zh {
	display:none;
	visibility:hidden;
}
#izmzrup {
	white-space:pre;
}
#i9gmyxh {
	display:none;
}
#ink7y4j {
	display:none;
}
#iaxpaoz {
	display:none;
}
#_pix_id_450f2ab0-dc40-108e-8c6d-769f9b0858eb {
	display:none;
}
#_pix_id_a5938756-f060-cbe6-1d66-e6508e6ebbeb {
	display:none;
}
#_pix_id_714d6040-6939-40c2-9536-cadcf86e31e1 {
	display:none;
}
#_pix_id_7a953892-27c6-3cdb-8e86-56542e8d0abe {
	display:none;
}
#i0fy39i {
	pointer-events:none;
	height:0px;
	width:0px;
	position:absolute;
	padding:0px;
	margin:0px;
	border:0px;
	visibility:hidden;
}
#batBeacon113134124049 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#batBeacon123830787849 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#iljh9pa {
	display:none;
}
#i3hiiyk {
	display:none;
}
#ipaenzp {
	display:none;
}
#ii671aq {
	display:none;
	visibility:hidden;
}
#iji2ksm {
	display:none;
	visibility:hidden;
}
#ixeom79 {
	display:none;
	visibility:hidden;
}
#itjoybq {
	display:none;
	visibility:hidden;
}
#i1gcy2h {
	display:none;
}
