* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
.gjs-heading {
	margin:0;
}
#ia28q {
	position:absolute;
}
#ij8d6 {
	position:absolute;
}
#ipnyq {
	position:absolute;
}
#cdn-lark {
	display:none;
}
#navigation-auth-menu-desktop-wrapper {
	top:80px;
	left:-40px;
}
#is2nol {
	left:0px;
}
#ide5tl {
	height:658px;
}
#if733g {
	top:-81px;
}
#irtk91 {
	height:658px;
}
#i1hzvj {
	height:658px;
}
#ixry2h {
	--heroHeight:606px;
}
#imdceq {
	--titleScale:1.3838120104438643;
}
#if4cg1 {
	--titleTranslate:6.919060052219265px;
}
#i9k93b {
	--titleTranslate:14.530026109660525px;
}
#imshnb {
	--titleTranslate:252.54569190600523px;
}
#i2yxhl {
	--titleTranslate:35.28720626631855px;
}
#iachis {
	--inner-height:738px;
}
#istd7c {
	height:0vh;
}
#izl6d6 {
	--introHeight:74.79674796747967vh;
	transform:none;
}
#ib8y4i {
	opacity:1;
	transform:none;
}
#iijkpb {
	opacity:1;
	transform:none;
}
#ijjrjb {
	opacity:1;
	transform:none;
}
#ib4p0l {
	width:51%;
	height:74.7968%;
}
#igv7lk {
	opacity:0.5;
	transform:scale(1.2) translateZ(0px);
}
#ixjq2b {
	opacity:1;
}
#ip9xt9 {
	opacity:1;
	transform:none;
}
#i8cj8d {
	opacity:1;
	transform:none;
}
#iy67mx {
	opacity:0;
	transform:translateY(-50px) translateZ(0px);
}
#iqevpo {
	opacity:0;
	transform:translateY(-50px) translateZ(0px);
}
#i7nm0yf {
	opacity:0;
}
#if9407k {
	opacity:1;
	transform:none;
}
#ihro11h {
	opacity:1;
	transform:none;
}
#ix2ozlk {
	opacity:1;
	transform:none;
}
#id4imhq {
	--viewHeight:738px;
}
#iecg4qj {
	--inner-height:738px;
}
#ibrzxro {
	left:-63%;
	right:-63%;
	opacity:0;
	user-select:none;
	touch-action:pan-y;
	transform:translateX(0px) scale(0.8) translateZ(0px);
}
#starting-point-alignflow {
	background-color:#EEEDEB;
}
#i20qfgw {
	left:0%;
	right:0%;
	opacity:1;
	user-select:none;
	touch-action:pan-y;
	transform:none;
}
#starting-point-rotate {
	background-color:#200603;
}
#i6xeqmm {
	left:63%;
	right:63%;
	opacity:1;
	user-select:none;
	touch-action:pan-y;
	transform:translateX(0px) scale(0.8) translateZ(0px);
}
#starting-point-colima {
	background-color:#38383A;
}
#i1nsge8 {
	width:1px;
	height:1px;
	opacity:0;
}
#iz8dtop {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:none;
}
#iuhabvz {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:scale(1.25) translateZ(0px);
}
#i13ayrv {
	width:4px;
	height:4px;
	margin:0px 1px;
	opacity:1;
	transform:scale(1.5) translateZ(0px);
}
#ii4lc4e {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:scale(1.25) translateZ(0px);
}
#i9g22rr {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:none;
}
#iuyayfk {
	width:1px;
	height:1px;
	opacity:0;
}
#isgzkrt {
	transform:translateY(0%) translateZ(0px);
}
#i96e1k1 {
	transform:translateY(0%) translateZ(0px);
}
#iip3dou {
	transform:translateY(0%) translateZ(0px);
}
#ibsbzfw {
	transform:translateY(0%) translateZ(0px);
}
#\:R2qp\:-body {
	height:0px;
	overflow:hidden;
}
#\:R4qp\:-body {
	height:0px;
	overflow:hidden;
}
#\:R6qp\:-body {
	height:0px;
	overflow:hidden;
}
#\:R8qp\:-body {
	height:0px;
	overflow:hidden;
}
#\:Raqp\:-body {
	height:0px;
	overflow:hidden;
}
#ijjl8gn {
	display:none;
}
#it01zcd {
	display:none;
	visibility:hidden;
}
#it6oo4m {
	white-space:pre;
}
#i54kg0k {
	display:none;
}
#i64td7u {
	display:none;
}
#iv14i0h {
	display:none;
}
#_pix_id_450f2ab0-dc40-108e-8c6d-769f9b0858eb {
	display:none;
}
#_pix_id_a5938756-f060-cbe6-1d66-e6508e6ebbeb {
	display:none;
}
#_pix_id_714d6040-6939-40c2-9536-cadcf86e31e1 {
	display:none;
}
#_pix_id_7a953892-27c6-3cdb-8e86-56542e8d0abe {
	display:none;
}
#iwo18x2 {
	pointer-events:none;
	height:0px;
	width:0px;
	position:absolute;
	padding:0px;
	margin:0px;
	border:0px;
	visibility:hidden;
}
#batBeacon904479371268 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#batBeacon895471201757 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#ikzxh9l {
	display:none;
}
#igb4ybl {
	display:none;
}
#ijt6228 {
	display:none;
}
#iutx4qq {
	display:none;
	visibility:hidden;
}
#ivpnl1e {
	display:none;
	visibility:hidden;
}
#imghltb {
	display:none;
	visibility:hidden;
}
#i1zemtm {
	display:none;
	visibility:hidden;
}
#i0t7zbc {
	display:none;
	visibility:hidden;
}
#ikpp8zb {
	display:none;
}
