* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gjs-link {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.gjs-heading {
  margin: 0;
}
#ita87 {
  position: absolute;
}
#iiqud {
  position: absolute;
}
#ivrqg {
  position: absolute;
}
#cdn-lark {
  display: none;
}
#navigation-auth-menu-desktop-wrapper {
  top: 80px;
  left: -40px;
}
#iey3jq {
  left: 0px;
}
#i1xdij {
  height: 658px;
}
#it5nro {
  top: -81px;
}
#iii1uk {
  height: 658px;
}
#iyb2h9 {
  height: 658px;
}
#in3tkp {
  --reveal-delay: 0.1s;
}
#iopd46 {
  --reveal-delay: 0.3s;
}
#ievac1 {
  --reveal-delay: 0.1s;
}
#i79enr {
  --reveal-delay: 0.3s;
}
#i5daxj {
  --reveal-delay: calc(1 * 150ms);
}
#iy4y2g {
  --reveal-delay: calc(2 * 150ms);
}
#iu315yr {
  display: none;
}
#iizhok2 {
  display: none;
  visibility: hidden;
}
#ittrtiu {
  white-space: pre;
}
#ie8ra1x {
  display: none;
}
#ikwdm14 {
  display: none;
}
#i453qri {
  display: none;
}
#_pix_id_450f2ab0-dc40-108e-8c6d-769f9b0858eb {
  display: none;
}
#_pix_id_a5938756-f060-cbe6-1d66-e6508e6ebbeb {
  display: none;
}
#_pix_id_714d6040-6939-40c2-9536-cadcf86e31e1 {
  display: none;
}
#_pix_id_7a953892-27c6-3cdb-8e86-56542e8d0abe {
  display: none;
}
#i0pdpn4 {
  pointer-events: none;
  height: 0px;
  width: 0px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  border: 0px;
  visibility: hidden;
}
#batBeacon874695804870 {
  width: 0px;
  height: 0px;
  display: none;
  visibility: hidden;
}
#batBeacon768653606302 {
  width: 0px;
  height: 0px;
  display: none;
  visibility: hidden;
}
#iukbxy5 {
  display: none;
}
#ixs8lzg {
  display: none;
}
#ixkwmkf {
  display: none;
}
#i2rco9j {
  display: none;
  visibility: hidden;
}
#i27jxaw {
  display: none;
  visibility: hidden;
}
#i0sl2xe {
  display: none;
  visibility: hidden;
}
#i068f85 {
  display: none;
  visibility: hidden;
}
#ifz3dxj {
  display: none;
  visibility: hidden;
}
#imbuzww {
  display: none;
}
