* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
.gjs-heading {
	margin:0;
}
#iq6bk {
	position:absolute;
}
#i3rij {
	position:absolute;
}
#iobu9 {
	position:absolute;
}
#cdn-lark {
	display:none;
}
#navigation-auth-menu-desktop-wrapper {
	top:80px;
	left:-40px;
}
#ilpqbn {
	left:0px;
}
#iw9goh {
	height:658px;
}
#iri505 {
	top:-81px;
}
#iomlcy {
	height:658px;
}
#ikfwch {
	height:658px;
}
#iiv224 {
	--column:1;
	--row:1;
}
#i3n7c9 {
	--column:1;
	--row:2;
}
#iw4dnh {
	--column:1;
	--row:3;
}
#icttjk {
	--column:1;
	--row:4;
}
#ifdzt7 {
	--column:1;
	--row:5;
}
#i88tug {
	--column:1;
	--row:6;
}
#ib8z7f {
	--column:2;
	--row:1;
}
#il4iog {
	--column:2;
	--row:2;
}
#izihsg {
	--column:2;
	--row:3;
}
#i1nees {
	--column:2;
	--row:4;
}
#ihcprq {
	--column:1;
	--row:1;
}
#iiohsk {
	--column:1;
	--row:2;
}
#iuv9b7 {
	--column:1;
	--row:3;
}
#i4r83g {
	--column:1;
	--row:4;
}
#iwzv1r {
	--column:2;
	--row:1;
}
#ixtv9n {
	--column:2;
	--row:2;
}
#ifk9a6 {
	--column:2;
	--row:3;
}
#iaieg1 {
	--column:2;
	--row:4;
}
#ieow1c {
	--column:2;
	--row:5;
}
#i9hkdk {
	--column:2;
	--row:6;
}
#ibs513 {
	--inner-height:738px;
}
#iipury {
	left:-63%;
	right:-63%;
	opacity:0;
	user-select:none;
	touch-action:pan-y;
	transform:translateX(0px) scale(0.8) translateZ(0px);
}
#starting-point-agaro {
	background-color:#38383A;
}
#imsmal {
	left:0%;
	right:0%;
	opacity:1;
	user-select:none;
	touch-action:pan-y;
	transform:none;
}
#starting-point-beaumont {
	background-color:#000000;
}
#i1u8r3 {
	left:63%;
	right:63%;
	opacity:1;
	user-select:none;
	touch-action:pan-y;
	transform:translateX(0px) scale(0.8) translateZ(0px);
}
#starting-point-nolan {
	background-color:#200603;
}
#i0zsbe {
	width:1px;
	height:1px;
	opacity:0;
}
#itkp41 {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:none;
}
#igflsh {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:scale(1.25) translateZ(0px);
}
#ivjwyg {
	width:4px;
	height:4px;
	margin:0px 1px;
	opacity:1;
	transform:scale(1.5) translateZ(0px);
}
#ibg173 {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:scale(1.25) translateZ(0px);
}
#iomzqk {
	width:4px;
	height:4px;
	opacity:0.5;
	transform:none;
}
#iolxyb {
	width:1px;
	height:1px;
	opacity:0;
}
#io2ad6 {
	transform:translateY(0%) translateZ(0px);
}
#i85oy5 {
	transform:translateY(0%) translateZ(0px);
}
#im5ewc {
	transform:translateY(0%) translateZ(0px);
}
#io9n7oa {
	transform:translateY(0%) translateZ(0px);
}
#ixde1w6 {
	display:none;
}
#i7ddh1l {
	display:none;
	visibility:hidden;
}
#i96baia {
	white-space:pre;
}
#ipkwdfj {
	display:none;
}
#i274e9e {
	display:none;
}
#ilzfksc {
	display:none;
}
#_pix_id_450f2ab0-dc40-108e-8c6d-769f9b0858eb {
	display:none;
}
#_pix_id_a5938756-f060-cbe6-1d66-e6508e6ebbeb {
	display:none;
}
#_pix_id_714d6040-6939-40c2-9536-cadcf86e31e1 {
	display:none;
}
#_pix_id_7a953892-27c6-3cdb-8e86-56542e8d0abe {
	display:none;
}
#batBeacon406668815949 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#batBeacon88829387180 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#id6vmiz {
	pointer-events:none;
	height:0px;
	width:0px;
	position:absolute;
	padding:0px;
	margin:0px;
	border:0px;
	visibility:hidden;
}
#i9y637k {
	display:none;
}
#im6nakn {
	display:none;
}
#inhdlb6 {
	display:none;
}
#imfnc3i {
	display:none;
}
#i0o1x8h {
	display:none;
	visibility:hidden;
}
#i25wupw {
	display:none;
	visibility:hidden;
}
#iskmm5h {
	display:none;
	visibility:hidden;
}
#it2kb8k {
	display:none;
	visibility:hidden;
}
