* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
.gjs-heading {
	margin:0;
}
#iybij {
	position:absolute;
}
#i3o1c {
	position:absolute;
}
#ituu9 {
	position:absolute;
}
#cdn-lark {
	display:none;
}
#navigation-auth-menu-desktop-wrapper {
	top:80px;
	left:-40px;
}
#i85g9b {
	left:0px;
}
#i00axi {
	height:658px;
}
#iaghxi {
	top:-81px;
}
#ibtell {
	height:658px;
}
#iil4aq {
	height:658px;
}
#ivjmrz {
	--reveal-delay:100ms;
}
#ivopnn {
	--reveal-delay:0.1s;
}
#ilpfhi {
	--width:82.9453125px;
	--left:118.3203125px;
	--scaleX:1;
	--translateX:0px;
}
#igvf6u {
	--itemDelay:0s;
}
#i2rqok {
	--itemDelay:0.035s;
}
#ifyitl {
	--itemDelay:0.07s;
}
#iokrwj {
	--itemDelay:0.10500000000000001s;
}
#iufg8v {
	--itemDelay:0.14s;
}
#ivk2rs {
	--itemDelay:0.17500000000000002s;
}
#ie2j3r {
	--itemDelay:0.21000000000000002s;
}
#i2xe0k {
	--itemDelay:0.24500000000000002s;
}
#ig0u1o {
	--itemDelay:0.28s;
}
#in9g7f {
	--itemDelay:0.31500000000000006s;
}
#ibawzs {
	--itemDelay:0.35000000000000003s;
}
#iqqnsz {
	--itemDelay:0.385s;
}
#i1q2md {
	--itemDelay:0.42000000000000004s;
}
#iyo535 {
	transform:translate3d(-5400px,0px,0px);
}
#iq9kq5v {
	transform:translateY(-19.6667px);
}
#itlsngl {
	clip-path:polygon(25.539% 7.40809%,88.2035% 26.4294%,74.461% 92.5919%,11.7965% 73.5706%);
}
#i6jcg9f {
	display:none;
}
#i63xxhq {
	display:none;
	visibility:hidden;
}
#i3dgsbv {
	white-space:pre;
}
#is8achh {
	display:none;
}
#i065alp {
	display:none;
}
#ikstqvl {
	display:none;
}
#iohgdjz {
	display:none;
}
#_pix_id_450f2ab0-dc40-108e-8c6d-769f9b0858eb {
	display:none;
}
#_pix_id_a5938756-f060-cbe6-1d66-e6508e6ebbeb {
	display:none;
}
#_pix_id_714d6040-6939-40c2-9536-cadcf86e31e1 {
	display:none;
}
#_pix_id_7a953892-27c6-3cdb-8e86-56542e8d0abe {
	display:none;
}
#irxe14e {
	pointer-events:none;
	height:0px;
	width:0px;
	position:absolute;
	padding:0px;
	margin:0px;
	border:0px;
	visibility:hidden;
}
#batBeacon869302672699 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#batBeacon538284750886 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#ih6hv7a {
	display:none;
}
#iex4yms {
	display:none;
}
#iodlroe {
	display:none;
}
#iodw11r {
	display:none;
	visibility:hidden;
}
#iy9d0ui {
	display:none;
	visibility:hidden;
}
#i9d5xra {
	display:none;
	visibility:hidden;
}
#if80ce6 {
	display:none;
}
