* {
	box-sizing:border-box;
}
body {
	margin:0;
}
.gjs-link {
	vertical-align:top;
	max-width:100%;
	display:inline-block;
	text-decoration:none;
	color:inherit;
}
.gjs-heading {
	margin:0;
}
#i6zcc {
	position:absolute;
}
#ieofw {
	position:absolute;
}
#igm6i {
	position:absolute;
}
#cdn-lark {
	display:none;
}
#navigation-auth-menu-desktop-wrapper {
	top:80px;
	left:-40px;
}
#ilg3uz {
	left:0px;
}
#i23ekc {
	height:658px;
}
#itx42r {
	top:-81px;
}
#i6j3mb {
	height:658px;
}
#ii1yp4 {
	height:658px;
}
#iuh34c {
	--reveal-delay:100ms;
}
#isd6df {
	--reveal-delay:0.1s;
}
#i3by8p {
	--reveal-delay:0.2s;
}
#ig1dpk {
	--reveal-delay:0.3s;
}
#ilhsaw {
	--reveal-delay:0.1s;
}
#igotnc {
	--width:94.3203125px;
	--left:0px;
	--scaleX:1;
	--translateX:0px;
}
#i3yzlf {
	clip-path:polygon(17.4752% 13.3924%,71.3858% 36.3596%,82.5248% 86.6076%,28.6142% 63.6404%);
}
#i04zbd {
	--reveal-delay:0.15s;
}
#i477yl {
	--reveal-delay:0.3s;
}
#i3wpxy {
	--reveal-delay:calc(1 * 150ms);
}
#i0xgdh {
	--reveal-delay:calc(2 * 150ms);
}
#ifaoih {
	--reveal-delay:calc(3 * 150ms);
}
#i7nmyg2 {
	transform:translate3d(-2400px,0px,0px);
}
#i4nj4ax {
	transform:translateY(-59px);
}
#i49beok {
	clip-path:polygon(43.654% 18.5087%,57.2085% 16.5135%,56.346% 81.4913%,42.7915% 83.4865%);
}
#iwaq2fw {
	display:none;
}
#imuypxr {
	display:none;
	visibility:hidden;
}
#iqtltmk {
	white-space:pre;
}
#illbe0m {
	display:none;
}
#it7n8fr {
	display:none;
}
#i4hqwti {
	display:none;
}
#_pix_id_450f2ab0-dc40-108e-8c6d-769f9b0858eb {
	display:none;
}
#_pix_id_a5938756-f060-cbe6-1d66-e6508e6ebbeb {
	display:none;
}
#_pix_id_714d6040-6939-40c2-9536-cadcf86e31e1 {
	display:none;
}
#_pix_id_7a953892-27c6-3cdb-8e86-56542e8d0abe {
	display:none;
}
#i0zsg1r {
	pointer-events:none;
	height:0px;
	width:0px;
	position:absolute;
	padding:0px;
	margin:0px;
	border:0px;
	visibility:hidden;
}
#batBeacon21830492440 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#batBeacon147135688172 {
	width:0px;
	height:0px;
	display:none;
	visibility:hidden;
}
#iowogji {
	display:none;
}
#iv07aoh {
	display:none;
}
#i17kpml {
	display:none;
}
#iw8us8u {
	display:none;
	visibility:hidden;
}
#i91oj3k {
	display:none;
	visibility:hidden;
}
#i1jh7fd {
	display:none;
	visibility:hidden;
}
#ip0vzbn {
	display:none;
	visibility:hidden;
}
#ik3xmh6 {
	display:none;
}
